{% extends 'base.html.twig' %}

{% block title %}Home!{% endblock %}

{% block body %}
    <a href="{{ path('app_sortie_home') }}">
    <div class="home">
    <h1 class="glitch">MENIFESTATION</h1>
    </div></a>
{% endblock %}
