{% extends 'base.html.twig' %}

{% block title %}Acceuil | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Bienvenue sur mENIfestation!</h1>

    <div class="page-bouton">

    <a href="https://r.mtdv.me/rickrollmENI" class="gros-bouton">ENTRER SUR LE SITE</a>
    </div>
{% endblock %}
