{% extends 'base.html.twig' %}

{% block title %}Page Administrateur{% endblock %}

{% block body %}
    <div class="form">
        <input type="file">
        <button >Charger</button>
        <button type="submit">Ajouter</button>
    </div>
{% endblock %}
