{% extends 'base.html.twig' %}

{% block title %}Page Administrateur{% endblock %}

{% block body %}
    <div class="admin-link">
    <a href="{{ path('app_admin_users') }}">Gestion des Utilisateurs</a>
    </div>
    <div class="admin-link">
    <a href="{{ path('app_admin_sites') }}">Gestion des Sites</a>
    </div>
    <div class="admin-link">
    <a href="{{ path('app_admin_lieux') }}">Gestion des Lieux</a>
    </div>
{% endblock %}
