{% extends 'base.html.twig' %}



{% block body %}
    <div class="calendar">
        {% for day in moisArr %}
            <div class="cal-day">
                {{ day }}
                {%if events[day-1]!=day %}
                    <div class="admin-link">
                    <a>
                        {{ events[day-1] }}
                    </a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %}
